<div class="container-fluid mainblock-mapa greyandgreenbg">
    <div class="row">
        <div class="col-md-6">
            <div class="bgMapa card-pattern">

            </div>
        </div>
        <div class="col-md-6 text-content">
            <div class="container">

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <br><br>
                        <h2>Pueblo Esther</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">
                        <hr>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-7">
                        <p>Pueblo Esther es una ciudad ubicada a 15 minutos de Rosario, pegada al afluente más grande del Río Paraná. </p>
                        <br>
                        <p>Estrategicamente ubicado y fácil acceso desde la Ruta Provincial 21  la autopista AO12, evitando congestiones.
                            </p>
                        <br><br>
                        <div class="important-text">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>A 500 metros de la Ruta Provincial 21 y fácil acceso a desde la autopista AO12, evitando congestiones.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
