/* You can add global styles to this file, and also import other style files */
//---propios

$bgColor: #0e7a73;
$customPink: #f6c1bc;
$customGrey: #c9c9c9;
$customGreyLight: #adadad;
$customGreyDark: #6e6e6e;

//--bootstrap

$font-family-base: "Cera Pro";
$headings-font-family: "Cera Pro Black";
$body-color: white;
$primary: $bgColor;
$h1-font-size: 64px;
$h2-font-size: 40px;
$h6-font-size: 18px;
$h5-font-size: 20px;
$font-size-base: 1.13rem;
$link-color: white;

@import "node_modules/bootstrap/scss/bootstrap";
@font-face {
    font-family: "Cera Pro Black";
    src: url("assets/CeraPro-Black.eot");
    src: url("assets/CeraPro-Black.eot?#iefix") format("embedded-opentype"),
        url("assets/CeraPro-Black.woff") format("woff"), url("assets/CeraPro-Black.ttf") format("truetype");
    font-weight: black;
    font-style: normal;
}
@font-face {
    font-family: "Cera Pro";
    src: url("assets/CeraPro-Regular.eot");
    src: url("assets/CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("assets/CeraPro-Regular.woff") format("woff"), url("assets/CeraPro-Regular.ttf") format("truetype");
    font-weight: black;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.btn {
    border-radius: 28px;
    padding: 15px 60px;
    box-shadow: 0px 5px 50px #00000029;
}

.nav-link.active {
    &::after {
        content: "";
        display: block;
        border-bottom: 3px solid $customPink;
        width: 50%;
        border-radius: 25px;
        position: relative;
        bottom: -0.5rem;
    }
}

.greenbg {
    background-color: $bgColor;
    background-image: url("assets/images/ian-Ws92xzbSris-unsplash.png");
    background-repeat: no-repeat;
}

.form-control {
    border: 0px;
    border-bottom: 1px solid $customGrey;
    border-radius: 0px;
}

hr {
    border: 2.5px solid $customPink;
    border-radius: 20px;
}

.mainblock-presentacion {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .sabermas {
        color: $customPink;
        font-family: "Cera Pro";
    }

    .formulario {
        background-color: $body-color;
        border-radius: 28px;
        box-shadow: 5px 5px 50px #00000040;
        padding: 65px 57px;
        color: $bgColor;
        .form-group {
            label {
                width: 100%;
            }
            .customgrey {
                color: $customGrey;
            }
        }

        h5 {
            font-family: "Cera Pro";
        }

        form {
            color: $customPink;
        }
    }

    h5.titulo {
        letter-spacing: 8px;
        line-height: 2rem;

        mark {
            border-radius: 25px;
            background-color: $customPink;
        }
    }
}

.mainblock-proyecto {
    h2 {
        color: $bgColor;
    }
    p {
        color: $customGreyDark;
    }
    .proyecto-overlap {
        padding-top: 14rem;
    }
    .proyecto-overlap-top {
        margin-top: -44rem;
    }
    .proyecto-card-rounded {
        background-color: white;
        box-shadow: 3px 3px 40px #7474741a;
        border-radius: 41px;
        display: inline-block;
        padding: 41px 30px;
        text-align: center;
    }
    .proyecto-card, .proyecto-card-rounded {
        .title {
            display: inline-block;
        }
        .subtitle {
            color: $customGreyLight;
        }
        p {
            color: $customGreyDark;
            margin-bottom: 0px;
        }
        i {
            color: $customPink;
        }
    }
}
.mainblock-carousel {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel {
    .carousel-inner {
        .carousel-item-title {
            color: $bgColor;
            letter-spacing: 6.4px;
            transform: rotate(-90deg);
            width: 500%;
            position: absolute;
            transform-origin: 0 0;
            text-align: center;
            padding-top: 4rem;
        }
        .carousel-item-number {
            background-color: $customPink;
            padding: 20px 0px;
        }
    }
}
