<div class="row">
    <div class="col-md-6">
        <img src="assets/images/Grupo 4.png" width="146">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    El proyecto
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Ubicación
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Filosofía
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Beneficios
                </a>
            </li>
        </ul>
    </div>
</div>
