<div class="container-fluid mainblock-servicios">
    <div class="container">
        <h2>Servicios</h2>
        <div class="row">
            <div class="col-md-1">
                <br>
                <hr>
            </div>
        </div>
        <br>
        <br>
        <div class="row seccion-servicios">
            <div class="col-md-3">
                <p><img src="assets/images/casino-cctv.png">Seguridad</p>
                <p><img src="assets/images/alarm.png">Alarma</p>
                <p><img src="assets/images/speedometer.png">Velocidad controlada</p>
            </div>
            <div class="col-md-3">
                <p><img src="assets/images/water-tap.png">Agua potable</p>
                <p><img src="assets/images/road.png">Cordón cuneta</p>
                <p><img src="assets/images/forest.png">Forestación</p>
            </div>
            <div class="col-md-3">
                <p><img src="assets/images/wireless-router.png">Wifi</p>
                <p><img src="assets/images/electricity-tower.png">Red de media</p>
                <p><img src="assets/images/car.png">Ripio estabilizado</p>
            </div>
            <div class="col-md-3">
                <p><img src="assets/images/lamp.png">Alumbrado</p>
                <p><img src="assets/images/road2.png">Asfalto</p>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col">
                <h2>Diferenciales</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <br>
                <hr>
                <br>
                <br>
            </div>
        </div>
        <div class="row seccion-diferenciales justify-content-md-center">
            <div class="col-md-5">
                <p>HUERTA COMUNITARIA<i class="fas fa-arrow-down"></i></p>
                <p>PARQUE AGROECOLÓGICO<i class="fas fa-arrow-down"></i></p>
                <p>ECOCENTRO<i class="fas fa-arrow-down"></i></p>
                <p>ÁREA DEPORTIVA<i class="fas fa-arrow-down"></i></p>
                <p>PUESTOS SOLARES<i class="fas fa-arrow-down"></i></p>
                <p>GARITA ECO<i class="fas fa-arrow-down"></i></p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <p>ÁREA COMERCIAL<i class="fas fa-arrow-down"></i></p>
                <p>ÁREA CORPORATIVA<i class="fas fa-arrow-down"></i></p>
                <p>PLAZA CULTURAL<i class="fas fa-arrow-down"></i></p>
                <p>CIRCUITO VERDE<i class="fas fa-arrow-down"></i></p>
                <p>PUESTOS DE RECICLADO<i class="fas fa-arrow-down"></i></p>

            </div>
        </div>
    </div>
</div>
