<div class="container-fluid mainblock-pie">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/images/Grupo 4.png" width="146">
            </div>
            <div class="col-md-6 text-center">
                <h1><i class="fas fa-phone-alt" style="font-size: 3.3rem;"></i> 3416 186 224</h1>
                <h5><i class="fas fa-envelope"></i> cepe.barrioabierto@gmail.com</h5>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="row justify-content-md-center piefirma">
        <div class="col">
            Comunidad Evolutiva 2020 Todos los derechos reservados . 2020
        </div>
    </div>
</div>
