<div class="container-fluid mainblock-carousel">
    <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row no-gutters align-items-end">
                  <div class="col">
                      <h6 class="carousel-item-title">VISTA DE LA URBANIZACION</h6>
                      <div class="carousel-item-number text-center"><h2>01</h2></div>
                  </div>
                  <div class="col-11">
                      <img src="assets/images/barrio.jpg" class="d-block w-100" alt="...">
                  </div>
              </div>
          </div>
           <div class="carousel-item">
            <div class="row no-gutters align-items-end">
                <div class="col">
                    <h6 class="carousel-item-title">VISTA DE LA HUERTA</h6>
                    <div class="carousel-item-number text-center"><h2>02</h2></div>
                </div>
                <div class="col-11">
                    <img src="assets/images/huerta.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row no-gutters align-items-end">
                <div class="col">
                    <h6 class="carousel-item-title">VISTA DEL PÓRTICO</h6>
                    <div class="carousel-item-number text-center"><h2>03</h2></div>
                </div>
                <div class="col-11">
                    <img src="assets/images/portico.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

</div>
